<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/bootstrap.css">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>
<body ng-app="TodoApp">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div ng-controller="ListCtrl as listCtrl" class="ng-cloak">
    <div class="hero-unit" data-ng-show="listCtrl.todoList.length">
        <div ng-repeat="item in listCtrl.todoList">
            <div>
                <input type="checkbox" data-ng-model="item.done">
                <span data-ng-class="{completed: item.done}">{{item.task}} - {{item.author}}</span>
                <input type="button" value="X" class="cancel" data-ng-click="listCtrl.removeItem($index)" data-ng-disabled="!item.done" />
            </div>
        </div>
    </div>
</div>

</div>

<div ng-controller="AddCtrl as addCtrl">
    <div class="hero-unit">
        <form name="registerForm" ng-submit="addCtrl.register()">
            <input type="text" ng-model="addCtrl.task" placeholder="Task" required="">
            <input type="text" ng-model="addCtrl.author" placeholder="Author" required="">
            <input type="submit" value="Add" class="btn btn-success btn-large"
                   ng-disabled="registerForm.$invalid">
        </form>
    </div>

</div>

<script src="scripts/vendors/jquery.js"></script>
<script src="scripts/vendors/jquery-ui-1.10.2.custom.js"></script>
<script src="scripts/vendors/angular.js"></script>
<script src="scripts/vendors/angular-route.js"></script>
<script src="scripts/vendors/angular-animate.js"></script>

<!-- build:js scripts/plugins.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers.js"></script>
<script src="scripts/services.js"></script>
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<!-- endbuild -->

<!--script type="text/javascript" src="scripts/vendors/googlecharts.js"></script>
<script type="text/javascript">

  window.googleChartsLoaded = false;
  // Load the Visualization API and the piechart package.
  google.load('visualization', '1.0', {'packages':['corechart']});
  google.setOnLoadCallback(function() {
    window.googleChartsLoaded = true;
  });

</script-->
</body>
</html>
